<footer class="footer">
    <div class="footer-content">
        <div class="footer-info">
            <div class="footer-item">
                <i class="fa-solid fa-phone"></i>
                <a href="tel:+569-6123-8866">+56 9 6123 8866</a>
            </div>
            <div class="footer-item">
                <i class="fa-solid fa-envelope"></i>
                <a href="mailto: info@clubentrepatitas.cl">info@clubentrepatitas.cl</a>
            </div>
            <div class="footer-item">
                <i class="fa-solid fa-location-dot"></i>
                <a href="https://maps.app.goo.gl/arVfSQ2h6x97SRFe6" target="_blank" rel="noopener noreferrer">Francisco Bilbao 2419, Providencia, Región Metropolitana.</a>
            </div>
            <div class="footer-item">
                <i class="fa-solid fa-clock"></i>
                <span>Emergencias 24/7</span>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; {% now "Y" %} Club entre Patitas. Todos los derechos reservados.</p>
            <p>Desarrollado con ❤️ para el cuidado animal</p>
        </div>
    </div>
</footer>
