{% extends 'gestion/base.html' %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
    <h1>{{ titulo }}</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">{{ boton_texto }}</button>
                <a href="{{ request.META.HTTP_REFERER|default:'/' }}" class="btn btn-secondary">Cancelar</a>
            </form>

            {% if object %}
            <hr class="mt-4">
            <a href="{% url 'borrar_paciente' object.id %}" class="btn btn-danger">Borrar Paciente</a>
            {% endif %}
        </div>
    </div>
{% endblock %}