{% extends 'gestion/base.html' %}
{% load static %}

{% block title %}Iniciar Sesión{% endblock title %}

{% block content %}
<div class="login-form-container">
    <p class="title">Iniciar Sesión</p>
    
    {% if form.errors %}
        <p class="login-error-message">Tu RUT o contraseña no son correctos. Por favor, inténtalo de nuevo.</p>
    {% endif %}

    <form class="form" method="post">
        {% csrf_token %}

        <div class="input-group">
            <label for="{{ form.username.id_for_label }}">RUT (Nombre de usuario)</label>
            {{ form.username }}
        </div>

        <div class="input-group">
            <label for="{{ form.password.id_for_label }}">Contraseña</label>
            {{ form.password }}
        </div>

        <div class="forgot">
            <a rel="noopener noreferrer" href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
        </div>

        <button type="submit" class="sign">Ingresar</button>
    </form>
</div>
{% endblock content %}
