{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Club Entre Patitas{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'gestion/css/styles.css' %}">
    
    {% block head %}{% endblock head %}
</head>
<body id="top">
    
    <header class="header">
        <div class="clinic-logo">
           <a href="{% url 'portal' %}">
                <img src="{% static 'svg/logo.svg' %}" alt="Club entre Patitas" class="clinic-logo-img">
           </a>
        </div>
        
        {% block navbar_extra_content %}
        {% endblock navbar_extra_content %}

    </header>

    <main class="main-container">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'gestion/partials/_footer.html' %}

    <script src="{% static 'gestion/js/script.js' %}"></script>
</body>
</html>

